@model LoanCompareSite.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
     <br/>
     <br/>
<h4 class="text-center">Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p class="text-center">
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {

                        if (@p.AuthenticationType == "Facebook")
                        {
                            ViewBag.Font = "fa-facebook-square";
                            ViewBag.Btn = "btn-primary";
                        }
                        else if (@p.AuthenticationType == "Google")
                        {
                            ViewBag.Font = "fa-google";
                            ViewBag.Btn = "btn-danger";
                        }
                        else if (@p.AuthenticationType == "Microsoft")
                        {
                            ViewBag.Font = "fa-windows";
                            ViewBag.Btn = "btn-warning";
                        }
                        <button type="submit" class="btn @ViewBag.Btn" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa @ViewBag.Font"></i> @p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
