<!-- content -->
<div class="container-agille">
    <div class="formBox level-login">
        <div class="box boxShaddow"></div>

        <!-- login -->
        <div class="box loginBox text-center">
            <h3>Create Role </h3>
            @Html.ActionLink("List Roles","Index") | @Html.ActionLink("Manage User ROle","ManageUserRole ")
            <hr/>
            <div class="container">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form">
                        <div class="f_row-2 ">
                            <input type="text"  name="RoleName" class="text-center form-control" placeholder="Enter Role Name" required />
                            <br />
                        </div>

                        <div class="f_row-2 last text-center">
                            <input type="submit" value="Save" class="btn-success btn-lg">

                        </div>    
                        @ViewBag.ResultMessage;
                    </div>
                }

            </div>




        </div>
        <br /> <br />
    </div>
    <!-- //content -->

    <hr />

</div>
