@{
    ViewBag.Title = "Create Role";
}
<div class="inner-banner"></div>



<div class="container">
                  <br/>
                  <br/>
<div class="title-section ">
    <h2 class="heading-agileinfo text-center pb-4">Manage <span> Roles</span></h2>
</div>      
    <!-- content -->
    <div class="container-agille">
        <div class="formBox level-login">
            <div class="box boxShaddow"></div>

            <!-- login -->
            <div class="box loginBox text-center">
                <h3>Create Role </h3>
                @Html.ActionLink("List Roles", "Index") | @Html.ActionLink("Manage User Roles", "ManageUserRole ")
                <hr />
                <div class="container">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form">
                            <div class="f_row-2 ">
                                <input type="text" name="RoleName" class="text-center form-control" placeholder="Enter Role Name" required autofocus autocomplete />

                                <br />
                            </div>

                            <div class="f_row-2 last text-center">
                                <input type="submit" value="Save" class="btn btn-info ">

                            </div>
                            @ViewBag.ResultMessage;
                        </div>
                    }

                </div>

            </div>
      
        </div>
        <!-- //content -->
        <hr />

</div>   
</div>
